<div class="banner" id="banner-cocktail">
  <div class="banner-content">
    <h1>Mojito</h1>
    <a class="navbar-wagon-button btn">Voir la liste</a>
  </div>
</div>



<% @cocktails.each do |cocktail| %>
  <%= render 'list', cocktail: cocktail %>
<% end %>
